body {
    font-family: "Avenir Next";
  }
  
  li {
    list-style: none;
  }

.header {
    height: 100px;
    background-color: lavenderblush;
}

.header-logo {
    font-size: 36px;
    float: left;
    padding: 25px 40px;
}

.header-list li {
    float: left;
    padding: 38px 40px;
}

.main {
    padding: 100px 80px;
    background-color: rgba(160, 255, 247, 0.384);
}

.copy-container h1 {
    font-size: 85px;
} 

.copy-container h2 {
    font-size: 36px;
} 

.copy-container h3 {
    font-size: 22px;
} 

.copy-container span {
    color: #ff4a4a;
}

.contents {
    height: 500px;
    margin-top: 100px;
}

.section-title {
    border-bottom: 2px solid grey;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.contents-item {
    float: left;
    margin-right: 100px;
    text-align: center;
}

.contents-item img {
    height: 100px;
    width: 100px;
}

.contents-item a {
    font-size: 24px;
    margin-top: 30px;
}

.footer {
    height: 120px;
    background-color: midnightblue;
    color: white;
    padding: 40px;
}

.footer-logo {
    font-size: 32px;
    float: left;
}

.footer-list {
    float: right;
}

.footer-list li {
    padding-bottom: 20px;
}